
.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 10px auto;
}

.emploee-group{
    margin-bottom: 40px;
}

.title{
    max-width: 100%;
    text-align: center;
    padding: 10px;
}

.full-width {
    width: 100%;
}

.information{
    position: relative;
}

table {
    width: 100%;
}

.btn-edit {
    position: absolute;
    top: 0;
    right: 0;
}

.btn {
    width: 100%;
    display: inline-block;
    background: #ff946d;
    border-radius: 10px;
    padding: 20px 49px;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    border: none;
    &:hover {
        cursor: pointer;
    }
    &:disabled {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
    }
}
