<div class="employeesData" *ngIf="!isEdit">
  <h2 class="title">Information about employees</h2>
  <div class="information">
    <table mat-table [dataSource]="emploees" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef> Phone number </th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Position </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
<div class="container" *ngIf="isEdit" [formGroup]="form" class="form">
  <h2 class="title">Information about employees</h2>
  <ng-container formArrayName="emploeeArrayForm">
    <ng-container *ngFor="let emploeeForm of getControls(); let i = index" novalidate>
      <div [formGroup]="emploeeForm" *ngIf="emploees[i].isEdit" class="emploee-group">
        <h2>Information about employee {{i + 1}}</h2>
        <mat-form-field class="form-group full-width" appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput class="form-control" name="name" formControlName="emploeeName">
          <mat-error
            *ngIf="emploeeForm.controls['emploeeName'].errors && (emploeeForm.controls['emploeeName'].dirty || emploeeForm.controls['emploeeName'].touched)"
            class="alert alert-danger">
            <span *ngIf="emploeeForm.controls['emploeeName'].errors.required">Name is required. </span>
            <span *ngIf="emploeeForm.controls['emploeeName'].errors.minlength">Minimum length is 2 characters. </span>
            <span *ngIf="emploeeForm.controls['emploeeName'].errors.maxlength">Maximum length is 20 characters. </span>
            <span
              *ngIf="emploeeForm.controls['emploeeName'].errors.pattern && !emploeeForm.controls['emploeeName'].errors.minlength">Name
              can contain only letters and dashes, dashes cannot be the first character. </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-group full-width" appearance="outline">
          <mat-label>Last name</mat-label>
          <input matInput class="form-control" name="lastName" formControlName="emploeeLastName" />
          <mat-error
            *ngIf="emploeeForm.controls['emploeeLastName'].errors && (emploeeForm.controls['emploeeLastName'].dirty || emploeeForm.controls['emploeeLastName'].touched)"
            class="alert alert-danger">
            <span *ngIf="emploeeForm.controls['emploeeLastName'].errors.required">Name is required. </span>
            <span *ngIf="emploeeForm.controls['emploeeLastName'].errors.minlength">Minimum length is 2 characters.
            </span>
            <span *ngIf="emploeeForm.controls['emploeeLastName'].errors.maxlength">Maximum length is 20 characters.
            </span>
            <span
              *ngIf="emploeeForm.controls['emploeeLastName'].errors.pattern && !emploeeForm.controls['emploeeLastName'].errors.minlength">
              Last name can contain only letters and dashes, dashes cannot be the first character. </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-group full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput class="form-control" type="email" formControlName="emploeeEmail" />
          <mat-error
            *ngIf="emploeeForm.controls['emploeeEmail'].errors && (emploeeForm.controls['emploeeEmail'].dirty || emploeeForm.controls['emploeeEmail'].touched)"
            class="alert alert-danger">
            <span *ngIf="emploeeForm.controls['emploeeEmail'].errors.required">Email is required. </span>
            <span *ngIf="emploeeForm.controls['emploeeEmail'].errors.email">Email must contain at least the @ character
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-group full-width" appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput class="form-control" formControlName="emploeePhoneNumber" />
          <mat-error
            *ngIf="emploeeForm.controls['emploeePhoneNumber'].errors && (emploeeForm.controls['emploeePhoneNumber'].dirty || emploeeForm.controls['emploeePhoneNumber'].touched)"
            class="alert alert-danger">
            <span *ngIf="emploeeForm.controls['emploeePhoneNumber'].errors.pattern">Phone number is not correct</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-group full-width" appearance="outline">
          <mat-label>Position</mat-label>
          <!-- <input matInput class="form-control" name="emploeePosition" formControlName="emploeePosition" /> -->
          <mat-select class="form-control"  name="emploeePosition" formControlName="emploeePosition">
            <mat-option *ngFor="let position of emploeePositionList" [value]="emploeePositionList">
              {{position}}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="emploeeForm.controls['emploeePosition'].errors && (emploeeForm.controls['emploeePosition'].dirty || emploeeForm.controls['emploeePosition'].touched)"
            class="alert alert-danger">
            <span>Position can be only trainee, junior,middle or senior</span>
          </mat-error>
        </mat-form-field>
        <div class="form-group full-width">
          <button class="btn" (click)="submit(i)" [disabled]="emploeeForm.invalid">
            Save
          </button>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>