<div class="employeesData" *ngIf="!isEdit">
  <h2 class="title">Information about employees</h2>
  <div class="information">
    <table mat-table [dataSource]="emploees" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef> Phone number </th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Position </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <button class="btn-edit" (click)="editEmploees()">
      <mat-icon>edit_note</mat-icon>
    </button>
  </div>
</div>
<div class="container" *ngIf="isEdit" [formGroup]="form" class="form">
  <h2 class="title">Information about employees</h2>
  <ng-container formArrayName="emploeeArrayForm">
    <ng-container *ngFor="let emploeeForm of getControls(); let i = index" novalidate>
      <div [formGroup]="emploeeForm" *ngIf="emploees[i].isEdit" class="emploee-group">
        <h2>Information about employee {{i + 1}}</h2>
        <mat-form-field class="form-group full-width" appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput class="form-control" name="name" formControlName="name">
          <mat-error
            *ngIf="emploeeForm.controls['name'].errors && (emploeeForm.controls['name'].dirty || emploeeForm.controls['name'].touched)"
            class="alert alert-danger">
            <span *ngIf="emploeeForm.controls['name'].errors.required">Name is required. </span>
            <span *ngIf="emploeeForm.controls['name'].errors.minlength">Minimum length is 2 characters. </span>
            <span *ngIf="emploeeForm.controls['name'].errors.maxlength">Maximum length is 20 characters. </span>
            <span
              *ngIf="emploeeForm.controls['name'].errors.pattern && !emploeeForm.controls['name'].errors.minlength">Name
              can contain only letters and dashes, dashes cannot be the first character. </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-group full-width" appearance="outline">
          <mat-label>Last name</mat-label>
          <input matInput class="form-control" name="lastName" formControlName="lastName" />
          <mat-error
            *ngIf="emploeeForm.controls['lastName'].errors && (emploeeForm.controls['lastName'].dirty || emploeeForm.controls['lastName'].touched)"
            class="alert alert-danger">
            <span *ngIf="emploeeForm.controls['lastName'].errors.required">Name is required. </span>
            <span *ngIf="emploeeForm.controls['lastName'].errors.minlength">Minimum length is 2 characters.
            </span>
            <span *ngIf="emploeeForm.controls['lastName'].errors.maxlength">Maximum length is 20 characters.
            </span>
            <span
              *ngIf="emploeeForm.controls['lastName'].errors.pattern && !emploeeForm.controls['lastName'].errors.minlength">
              Last name can contain only letters and dashes, dashes cannot be the first character. </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-group full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput class="form-control" type="email" formControlName="email" />
          <mat-error
            *ngIf="emploeeForm.controls['email'].errors && (emploeeForm.controls['email'].dirty || emploeeForm.controls['email'].touched)"
            class="alert alert-danger">
            <span *ngIf="emploeeForm.controls['email'].errors.required">Email is required. </span>
            <span *ngIf="emploeeForm.controls['email'].errors.email">Email must contain at least the @ character
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-group full-width" appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput class="form-control" formControlName="phoneNumber" />
          <mat-error
            *ngIf="emploeeForm.controls['phoneNumber'].errors && (emploeeForm.controls['phoneNumber'].dirty || emploeeForm.controls['phoneNumber'].touched)"
            class="alert alert-danger">
            <span *ngIf="emploeeForm.controls['phoneNumber'].errors.pattern">Phone number is not correct</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-group full-width" appearance="outline">
          <mat-label>Position</mat-label>
          <mat-select class="form-control"  name="position" formControlName="position">
            <mat-option *ngFor="let position of positionList" [value]="position">
              {{position}}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="emploeeForm.controls['position'].errors && (emploeeForm.controls['position'].dirty || emploeeForm.controls['position'].touched)"
            class="alert alert-danger">
            <span>Position can be only trainee, junior,middle or senior</span>
          </mat-error>
        </mat-form-field>
        <div class="form-group full-width">
          <button class="btn" (click)="submit(i)" [disabled]="emploeeForm.invalid">
            Save
          </button>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>