<h1 class="title">Іnformation about the owner of companie </h1>
<div class="form" *ngIf="isEdit">
  <mat-form-field class="form-group full-width" appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput class="form-control" name="name" [(ngModel)]="employer.name" required minlength="2" maxlength="20"
      pattern="[a-zA-ZА-ЩЬЮЯҐЄІЇа-щьюяґєії][a-zA-ZА-ЩЬЮЯҐЄІЇа-щьюяґєії\\-]*" #name="ngModel" />
    <mat-error *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
      <span *ngIf="name.errors.required">Name is required. </span>
      <span *ngIf="name.errors.minlength">Minimum length is 2 characters. </span>
      <span *ngIf="name.errors.maxlength">Maximum length is 20 characters. </span>
      <span *ngIf="name.errors.pattern && !name.errors.minlength">Name can contain only letters and dashes, dashes
        cannot be the first character. </span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-group full-width" appearance="outline">
    <mat-label>Last name</mat-label>
    <input matInput class="form-control" name="lastName" [(ngModel)]="employer.lastName" required minlength="2"
      maxlength="20" pattern="[a-zA-ZА-ЩЬЮЯҐЄІЇа-щьюяґєії][a-zA-ZА-ЩЬЮЯҐЄІЇа-щьюяґєії\\-]*" #lastName="ngModel" />
    <mat-error *ngIf="lastName.errors && (lastName.dirty || lastName.touched)" class="alert alert-danger">
      <span *ngIf="lastName.errors.required">Last name is required. </span>
      <span *ngIf="lastName.errors.minlength">Minimum length is 2 characters. </span>
      <span *ngIf="lastName.errors.maxlength">Maximum length is 20 characters. </span>
      <span *ngIf="lastName.errors.pattern && !lastName.errors.minlength">Last name can contain only letters and dashes,
        dashes cannot be the first character. </span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-group full-width" appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput class="form-control" type="email" [(ngModel)]="employer.email" required email #email="ngModel" />
    <mat-error *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
      <span *ngIf="email.errors.required">Email is required. </span>
      <span *ngIf="email.errors.email">Email must contain at least the @ character </span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-group full-width" appearance="outline">
    <mat-label>Phone Number</mat-label>
    <input matInput type="tel" class="form-control" [(ngModel)]="employer.phoneNumber"
      pattern="(\\+380[\d]{9})|(0[\d]{9})" #phone="ngModel" />
    <mat-error *ngIf="phone.errors && (phone.dirty || phone.touched)" class="alert alert-danger">
      <span *ngIf="phone.errors.pattern">Phone number is incorrect</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-group full-width" appearance="outline">
    <mat-label>Company name</mat-label>
    <input matInput class="form-control" name="companyName" [(ngModel)]="employer.companyName" required minlength="2"
      maxlength="20" #companyName="ngModel" />
    <mat-error *ngIf="companyName.errors && (companyName.dirty || companyName.touched)" class="alert alert-danger">
      <span *ngIf="companyName.errors.required">Name is required. </span>
      <span *ngIf="companyName.errors.minlength">Minimum length is 2 characters. </span>
      <span *ngIf="companyName.errors.maxlength">Maximum length is 20 characters. </span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-group full-width" appearance="outline">
    <mat-label>Number of employees</mat-label>
    <input matInput class="form-control" type="number" [(ngModel)]="employer.numberOfEmployees" required min="2"
      pattern="^([0-9])*" #numberOfEmployees="ngModel" />
    <mat-slider class="form-control" thumbLabel step="1" min="2" max="60" [(ngModel)]="employer.numberOfEmployees"
      #numberOfEmployees="ngModel"></mat-slider>
    <mat-error *ngIf="numberOfEmployees.errors && (numberOfEmployees.dirty || numberOfEmployees.touched)"
      class="alert alert-danger">
      <span *ngIf="numberOfEmployees.errors.required">Name is required. </span>
      <span *ngIf="numberOfEmployees.errors.min">Number of employees must be more than 1. </span>
      <span *ngIf="numberOfEmployees.errors.pattern">Іntegers only</span>
    </mat-error>
  </mat-form-field>
  <div class="form-group">
      <button class="btn" (click)="addEmployer()"
      [disabled]="name.invalid || email.invalid || lastName.invalid || numberOfEmployees.invalid || companyName.invalid">Save</button>
  </div>
</div>
<div class="employerData" *ngIf="!isEdit">
  <div class="information">
    <table mat-table [dataSource]="employers" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef> Phone number </th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef> Company name </th>
        <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
      </ng-container>

      <ng-container matColumnDef="numberOfEmployees">
        <th mat-header-cell *matHeaderCellDef> Number of employees </th>
        <td mat-cell *matCellDef="let element"> {{element.numberOfEmployees}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <button class="btn-edit" (click)="editEmployer()">
      <mat-icon>edit_note</mat-icon>
    </button>
  </div>
</div>